.header{
  position: absolute;
  background: #fdfdfd;
}
.header_div{
  width: 1100px;
  height: 160px;
  margin: 0 auto;
  display: table;
}
.logo{
  display: table-cell;
  vertical-align: middle;
}
.header_nav{
  display: table-cell;
  vertical-align: middle;
}
.header_ul{
  text-decoration-style: none;
  display: table;
  width: 100%;
  padding: 0;
}
.header_li{
  display: table-cell;
  vertical-align: top;
  width: 10%;
}
.header_li p{
  margin: 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.cn_p{
  width: 17px;
  font-size: 17px;
}
.en_p{
  font-size: 12px;
  transform:rotate(90deg);
}