body{
  background: #fff;
  color: #333;
  font: 14px/1.6 'Microsoft YaHei',Tahoma,Verdana,'Simsun';
  overflow-x: hidden;
}
body,h1,h2,h3,h4,h5,h6,dl,dt,li,ol,ul,dd,th,td,p,pre,form,input,button,textarea,hr {
  margin:0;padding:0
}
a{
  text-decoration: none;
}
.tem_div{
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

/* header begin*/
.tem_header{
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.header_div{
  width: 100%;
  height: 130px;
  padding-top: 30px;
  display: table;
}
.logo{
  display: table-cell;
  vertical-align: top;
}
.header_rt{
  width: 100%;
  display: table;
  vertical-align: top;
  text-align: right;
}
.header_nav{
  display: table-cell;
  vertical-align: top;
}
.header_ul{
  display: table;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
}
.header_li{
  display: table-cell;
  vertical-align: top;
  width: 10%;
}
.header_a{
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}
.header_li p{
  margin: 0;
}
.cn_p{
  font-family: 仿宋;
  font-weight: bold;
  color: #4f4944;
  font-size: 17px;
}
.en_p{
  color: #b7b3b1;
  font-size: 12px;
  padding-left: 5px;
}
.header_language{
  display: inline-block;
  width: 30px;
  text-align: right;
}
.language{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background: #d2d2d2;
  border-radius: 50%;
  margin-bottom: 10px;
}
.header_language a:hover {
  background: #ac8f58;
}
/* header end */

/* footer begin */
.tem_footer{
  background: #fff;
}
.footer_nav{
  padding: 25px 0 25px 0;
  height: 240px;
  text-transform: uppercase;
}
.home,.footer_li dt a{
  color: #787878;
  font-size: 15px;
}
.slash,.footer_li dd a{
  color: #a0a0a0;
  font-size: 13px;
}
.footer_main{
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: top;
}
/* lf */
.main_lf{
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
  width: 50%;
}
.main_table{
  display: table;
  vertical-align: top;
  width: 100%;
}
.footer_li{
  display: table-cell;
  vertical-align:top; 
  width: 60px;
}
.slash{
  display: table-cell;
  vertical-align: top;
  text-align: center;
}
.footer_li dl,dt,dd,a{
  display: block;
  margin: 0;
}
.footer_li dt a{
  padding-bottom: 8px; 
}
.footer_li dd a{
  padding-bottom: 6px;
}
/* rt */
.main_rt{
  display: table-cell;
  text-align: right;
}
.main_rt a,.main_rt p{
  display: inline-block;
  margin: 0px;
}
.main_rt a{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background: #d2d2d2;
  border-radius: 50%;
}
.main_rt a:hover {
  background: #ac8f58;
}
.main_rt p{
  color: #C6C6C6;
  padding: 0 24px 0 24px;
}
/* bm */
.footer_bm{
  height: 70px;
  width: 100%;
  background: #787878;
}
.footer_table{
  width: 100%;
  height: 100%;
  display: table;
  color: #e1e1e1; 
}
.footer_text{
  display: table-cell;
  vertical-align: middle;
}
.footer_nav_text{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.footer_nav_text a{
  color: #e1e1e1; 
}
/* footer end */

/* index_body begin */
.index_banner{
  position: fixed;
  z-index: 1;
}
.index_body{
  position: relative;
  z-index: 99;
}
.visibility {
  visibility: hidden;
  height: 770px;
}
.index_banner img{
  display: block;
}
.index_span{
  position: absolute;
  width: 100%;
  height: 770px;
  background: url("./img/banner.png");
}
.index_logo{
  position: fixed;
  width: 100%;
  height: 770px;
  z-index: 2;
}
.top_table{
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
}
.top_logo{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* index_brand */
.index_brand{
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.brand_content{
  padding: 80px 0 80px 0;
  height: 230px;
}
.brand_title{
  text-align: center;
}
.title1{
  font-family: 仿宋;
  font-size: 30px;
  display: inline-block;
  line-height: 30px;
  margin: 0 0 35px 0;
}
.title1 span{
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  color: #b7b3b1;
}
.content_p{
  color: #787878;
  font-size: 14px;
  line-height: 28px;
}
/* case */
.index_case{
  background: #fff;
}
.case_content{
  height: 540px;
}